#wrapper-canvas canvas {
    max-width: 100%;
}
.shd{
    background: #03e9f4;
    color: #fff;
    
    box-shadow: 0 0 5px #00e9f5,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}